
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Har user ka business data uski UID ke andar hoga
    match /businesses/{userId}/{document=**} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }

    // Default: baqi tamam documents protected
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
